.header {
  position: sticky;
  align-items: center;
  top: 0;
  z-index: 10;
}

.title {
  background-image: linear-gradient(
    to right,
    var(--clr-secondary-yellow),
    var(--clr-primary-yellow)
  );

  height: 80px;
  padding-left: 34px;
  border-bottom-left-radius: var(--b-radius-primary);
  border-bottom-right-radius: var(--b-radius-primary);
}

@media (max-width: 990px) {
  .header {
    background-color: red;
    margin: auto;
    background-image: linear-gradient(
      to right,
      var(--clr-secondary-yellow),
      var(--clr-primary-yellow)
    );

    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    padding: 0 1rem;
  }

  .title {
    background-image: none;
    margin: auto;
  }
}
