.aside {
  position: sticky;
  height: 500px;
  top: 100px;
  align-self: start;
}

.aside div {
  height: 80px;
  display: flex;
  flex-direction: column;
  padding: 0 28px;
  justify-content: center;
  line-height: 1;
}

.socialise {
  background-image: linear-gradient(
    to right,
    var(--clr-secondary-blue),
    var(--clr-primary-blue)
  );
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.localhub {
  background-image: linear-gradient(
    to right,
    var(--clr-secondary-red),
    var(--clr-primary-red)
  );
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.shoutouts {
  background-image: linear-gradient(
    to right,
    var(--clr-secondary-yellow),
    var(--clr-primary-yellow)
  );
}

.outfits {
  background-image: linear-gradient(
    to bottom,
    var(--clr-secondary-blue),
    var(--clr-primary-blue)
  );
  border-bottom-right-radius: 16px;
  border-top-left-radius: 16px;
}
