:global(#socialise) {
  background-image: linear-gradient(
    to right,
    var(--clr-secondary-blue),
    var(--clr-primary-blue)
  );
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-right-radius: 26px;
}

:global(#local-hub) {
  background-image: linear-gradient(
    to right,
    var(--clr-secondary-red),
    var(--clr-primary-red)
  );
  border-top-left-radius: 26px;
  border-bottom-left-radius: 26px;
}

:global(#shout-outs) {
  background-image: linear-gradient(
    to right,
    var(--clr-secondary-yellow),
    var(--clr-primary-yellow)
  );
}

:global(#outfits) {
  background-image: linear-gradient(
    to bottom,
    var(--clr-secondary-blue),
    var(--clr-primary-blue)
  );
  border-bottom-right-radius: 26px;
  border-top-left-radius: 26px;
}
